@model List<AllNews>

    <table >
        <tbody border="1" width="100%">
            <tr>
                <th>Наименование новости</th>
                <th>Описание</th>
                <th>Действия</th>
                <th>Фотографии</th>
                <th>Дата</th>
            </tr>
            <tr>
                
                
                 
          @foreach(var allNews in Model){
        <tr>
            <td>@allNews.Name</td>
            <td>@allNews.Description</td>
            
            

            @foreach(var pictures1 in allNews.Pictures1){
            <td>@pictures1.Name</td>
            <td>
                <img src="@pictures1.Path" width=200>
                </td> 
            
            
                <td>
                    <button><a href="./edit.html">Редактировать</a></button>
                    <button>Удалить</button>
                </td>
                <td><img src="@pictures1.Path" width="300" height="200"><button><a href="editimg.html">Редактировать</a></button></td>
                
            }
          </tr> 

          }
          <td><input id="date" type="date" value="2022-11-05" /></td>
            
           
        </tbody>
    </table>